@import url(https://fonts.googleapis.com/css?family=Raleway);

html {
  position: relative;
  min-height: 100%;
}

body {
	font-size: 16px;
  font-family: Raleway !important;
  margin-bottom: 80px;
}

.navbar-bg {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  background: url('/img/navbar-bg.svg') no-repeat;
  background-size: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.header-home {
	width: 100%;
	min-height: 535px;
	max-height: 535px;
	height: 100%;
	background: url('/img/background.jpg') no-repeat center center;
	background-size: cover;
}

.navbar-light .navbar-nav .nav-link {
	font-weight: 600;
	color: #FFFFFF !important;
	padding: 10px 12px;
	text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active {
	font-weight: 600;
	color: #EFEFEF !important;
}

.bg-dark {
	background: #000 !important;
}

.btn-chamada {
	background-color: #00CD14;
	border: #00CD14 ;
	text-transform: uppercase;
	font-weight: bold;
	padding: 15px 77px;
}

.btn-chamada:hover {
	background-color: #00CD14;
	border: #00CD14;
}

.btn-doar {
  background-color: #00CD14;
  border: 0px;
  padding: 10px 27px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 12px;
}

.btn-doar:hover {
  background-color: #00CD14;
  border: 0px;
}

.mosaico {
  max-height: 383px;
  max-width: 457px;
}

.efeito-bg {
  margin-top: 50px;
	height: 100%;
	background: url('/img/efeito-bg.svg');
  padding: 76px 127px 146px 146px;
}

.efeito-bg h2 {
  margin-bottom: 64px;
}

.efeito-bg .opcoes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
  flex-wrap: wrap;
}

.efeito-bg .opcoes img {
  max-width: 207px;
  max-height: 207px;
}

.contato {
  padding: 18px 60px;
  margin-top: 30px;
}

@media (max-width: 980px) {
	.header-home {
		width: 100%;
		min-height: 391px;
		max-height: 391px;
	}

	.header-home {
		padding-bottom: 20px;
	}
}

@media (max-width: 400px) {
	.header-home {
		width: 100%;
		min-height: 291px;
		max-height: 291px;
	}
}
